In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Task 3 and 4_Loan_Data (1).csv")
df.head()

,customer_id,credit_lines_outstanding,loan_amt_outstanding,total_debt_outstanding,income,years_employed,fico_score,default
0,8153374,0,5221.545193,3915.471226,78039.38546,5,605,0
1,7442532,5,1958.928726,8228.752520,26648.43525,2,572,1
2,2256073,0,3363.009259,2027.830850,65866.71246,4,602,0
3,4885975,0,4766.648001,2501.730397,74356.88347,5,612,0
4,4700614,1,1345.827718,1768.826187,23448.32631,6,631,0

In [3]:
df = df[['fico_score', 'default']]
df = df.dropna()

In [4]:
df = df.sort_values(by='fico_score')

In [5]:
num_buckets = 5

In [6]:
df['fico_bucket'] = pd.qcut(
    df['fico_score'],
    q=num_buckets,
    labels=False
)

In [7]:
bucket_summary = df.groupby('fico_bucket').agg(
    min_fico=('fico_score', 'min'),
    max_fico=('fico_score', 'max'),
    default_rate=('default', 'mean'),
    count=('default', 'count')
)

bucket_summary

             min_fico  max_fico  default_rate  count
fico_bucket
0                 408       587      0.398537   2050
1                 588       623      0.215627   1971
2                 624       653      0.151332   1989
3                 654       688      0.100150   1997
4                 689       850      0.054190   1993

The FICO scores are bucketed into five groups using quantiles so that
each bucket contains a similar number of borrowers. For each bucket,
the default rate is calculated. Lower FICO buckets show higher default
rates, while higher FICO buckets show lower default rates. This allows
FICO scores to be used as a categorical indicator of credit risk.

In [8]:
def assign_fico_bucket(score, table):
    for idx, row in table.iterrows():
        if row['min_fico'] <= score <= row['max_fico']:
            return idx
    return None